* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-wrapper {
    width: 350px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #aaa;
}

.form-wrapper h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 20px;
    margin: 20px 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}

form > span, form > input {
    position: relative;
    height: 30px;
}
form input{
    text-align: center;
    font-style: italic;
}

form label {
    text-transform: capitalize;
    transform: translateY(80%);
}

#password-field {
    width: 100%;
    height: inherit;
}

#hideShow {
    background-color: rgba(0, 0, 0, 0);
    height: inherit;
    border: none;
    text-transform: uppercase;
    font-style: normal;
    font-size: .8em;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

[type = "submit"] {
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}